.feedEditForm {
  font-size: 1rem;
  margin: 0;
}

.input-padding{
  padding-top: 5px;
  padding-bottom: 5px;
}

.map-div{
  height: 300px;
  padding-top: 20px;
}

.location-div{
  border-style: solid;
  border-width: .1px;
  border-color: #ededed;
}