.auth-form {
    width: 90%;
    margin: auto;
    padding: 1rem;
    border: 1px solid #134f2d;
    border-radius: 5px;
  }

.login_input{
  padding-bottom: 5px;
  padding-top: 5px
}
  
  @media (min-width: 768px) {
    .auth-form {
      width: 40rem;
    }
  }
  