.post {
  margin: 1rem 0;
  border: 1px solid #3b0062;
  border-radius: 5px;
  padding: 0.5rem;
}

.post__meta {
  font-size: 1rem;
  color: #707070;
  margin: 0;
}

.post__title {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #3b0062;
}

.post__image {
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.post_img {
  border: 10px solid #000000;
  border-radius: 4px;
  height: auto;
  width: auto;
  flex-shrink: 0;
  max-width: 100%;
  max-height: 40rem;
}

.post__actions {
  text-align: right;
}

@media (min-width: 768px) {
  .post {
    padding: 1rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}
