.post {
  margin: 1rem 0;
  border: 1px solid #3b0062;
  border-radius: 5px;
  padding: 0.5rem;
}

hr {
  width: 60%;
  border-top: .1rem solid black;
}

.post__meta {
  font-size: 1rem;
  color: #707070;
  margin: 0;
}

.post__infos{
  font-size: 1.3rem;
  text-align: center;
  color: #707070;
  margin: 20px;
}

.post__title {
  font-size: 2rem;
  margin: 1rem 0;
  color: #3b0062;
}

.post__image {
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 1rem;
}

.post_img {
  border: 5px solid #000000;
  border-radius: 3px;
  height: auto;
  width: auto;
  flex-shrink: 0;
  max-width: 100%;
  max-height: 40rem;
}

.buttonbar{
  text-align: center;
  width: 25rem;
}
.button-pad{
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

@media (min-width: 768px) {
  .post {
    padding: 1rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

.map-div{
  text-align: center;
}