.single-post {
  width: 90%;
  margin: auto;
  text-align: center;
  color: #134f2d;
}

.Row {
  padding: 1rem;
}

.Container{
  padding: 1rem;
}

.single-post-center{
  font-size: 1rem;
  color: #464646;
  text-align: center;
  padding-bottom: 1rem;
}

.hr{
  border-top: .1rem solid black;
}
.single_post_normal_h2{
  font-size: 1rem;
  color: #464646;
  text-align: left;
  padding-bottom: 1rem;
}

.single-post__image {
  min-height: 100%;
  overflow : auto;
  position: relative;
  width: 100%;
  margin: 1rem;
}

@media (min-width: 768px) {
  .single-post {
    width: 90%;
  }
  .single-post__info{
    width: 55rem;
    display: inline-block
  }
}

@media (max-width: 750px) {
  .single-post {
    width: 100%;
  }

  .single-post__info {
    width: 90%;
    display: inline-block;
  }
}